<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container">
  <h2>Our Customer Service</h2>
  <br />
  <br />
  <p><strong>You are the same today as you’ll be in five years</strong> except for two things: the books you read and the people you meet,” wrote author and speaker Charlie “Tremendous” Jones.

There is no faster path to creating exceptional customer service than by learning from those who have done it before. You can take a course, but not everyone has time for that. You can learn on the job, but we’re all familiar with those growing pains. The quickest way, and the one with the least impact on our day-to-day is to brush up on your skills by reading published advice from experts.</p>
 <p>If someone would call, saying, “I’d like to talk with someone about selling my music through you,” we’d say, “Sure. I can help. What’s your name? Cool. Got a website? Can I see it? Is that you on the home page there? Very cool. Is that a real Les Paul? Awesome. Here, let me listen to a bit of the music. Nice, I like what you’re doing. Very syncopated. Great groove. Anyway… so… what would you like to know?”

I can tell you from my own experience of being a self-promoting musician for 15 years that it’s SO hard to get anyone to listen to your music. So when someone takes even a couple minutes to listen to you, it’s so touching that you remember it for life.

Derek Sivers</p>
<p>With lots of customers sending emails of varying priorities being fielded by multiple team members, support can be pretty chaotic. When things get chaotic, chances are high that small details may begin to slip through the cracks. This book by Atul Gawande, a renowned surgeon, shares some incredible stories about how checklists — such a simple concept — save millions of lives every year in hospitals, airplanes and huge construction sites. But they can be used to “bulletproof” a system of any size, and if you’re not sure how or why you should apply checklists to your support funnel, you’ll get a lot from this book.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Why is the payment method I want to use not available?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">During Anniversary Sale, a large amount of payments are being processed at the same time. Some online payment providers may experience an overload and temporarily take their service offline. We suggest that you use another payment method to place your order or wait and try again later.</div>
      </div>
    </div>
    <div class="panel panel-default" >
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Why cannot I place an order?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">If you have problem in placing order, please check the error message received. Below are some possible reminders and solutions for your reference:</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> have paid for my order. Why does the order status still say Awaiting Payment?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Wire Transfer
       Normally, it will take 7 business days for us to receive your payment after your wire transfer. Please check your order status again in approximately 7 business days after your wire transfer.
         The status of your order should now change to Paid. If this is not the case, please contact us and submit your bank remittance slips (containing a beneficiary account number that starts with 026).</div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">My order has been closed. When will I get my refund?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">If your paid order has been closed/cancelled, your payment will be refunded to your account. This normally takes about 3 to 20 working days. Please wait patiently to receive it in your account.</div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">How do I use a coupon or discount?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">If you have more than one coupon which can be used on the same order, you can select the one you want to use by clicking ‘Apply Seller Coupon’ or ‘Apply AliExpress Coupon’.
The order total will be updated, showing you the final price and how much you have saved. </div>
      </div>
    </div>
  </div> 
</div>
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>